<div class="container">
  <!-- Right Half: Recherche avancée -->
  <div class="advanced-search">
    <div class="advanced-search-form">
      <!-- Single search input for letters -->
      <input
        type="text"
        [(ngModel)]="searchLetter"
        placeholder="Recherche par lettre"
        class="search-input"
      />
      <button class="search-button" (click)="filterByLetter(searchLetter)">Rechercher</button>
      
    </div>
  </div>

  <!-- Results for Advanced Search -->
  <div class="plants-container">
    <div *ngFor="let plant of getPaginatedPlants()" class="plant-card">
      <!-- Display the plant image -->
      <img [src]="plant.image" alt="{{ plant.name }}" />
      <div class="plant-name">{{ plant.name }}</div>
      <button (click)="viewPlantDetails(plant.id)">Read More</button>
    </div>
  </div>

  <div class="plant-result" *ngIf="plantResult">
    <h3>Search Result:</h3>
    <div class="plant-card">
      <img [src]="plantResult.image" alt="{{ plantResult.name }}" />
      <div class="plant-name">{{ plantResult.name }}</div>
      <div class="plant-comments">
        <h4>Comments:</h4>
        <ul>
          <li *ngFor="let comment of plantResult.comments">{{ comment }}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Pagination Buttons -->
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= filteredPlants.length">Next</button>
  </div>
</div>
