<div class="app-container">
  <!-- Navbar -->
  <nav class="navbar">
    <span class="brand-name">
      <i class="fas fa-leaf"></i> Naturalis
    </span>
    <div class="navbar-buttons">
      <button class="nav-button" routerLink="/home">Home</button>
      <button class="nav-button" routerLink="/plants">Plants</button>
      <button class="nav-button" routerLink="/recommendations">Recommendations</button>
      <button class="admin-button" routerLink="/admin-login">Admin</button>

    </div>
  </nav>

  <!-- Router Outlet -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2024 Naturalis. All Rights Reserved.</p>
  </footer>
</div>
